#wrapper {
	padding-top: 100px;
	position:relative;
	width:690px;
	height:360px;
}

#smart-button-container {
	right:0px;
	position:absolute;
	float:right;
	padding-top: 105px;
	}

#textbox {
	right:0px;
	position:relative;
	font-family: Roboto;
	padding-top:50px;
	left:20px;
	padding-right:20px;
	text-align: left;
}

#wrap2 {
	width:480px;
	height:360px;
	float:left;
}